body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-image:url(background.jpg)
}

.banner {
width: 100;
height:100vh;
background-size: cover;
background-position: center;
}

.navbar{
    width: 85%;
    margin: auto;
    padding :35px 0; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;

}

.navbar ul li{
list-style: none;
display: inline-block;
margin: 0 10px;
position: relative;
}

/*the list property.The goal is to give it a dark blue bold font, create a hover effect and an underline only when the cusor is on an element*/
.navbar ul li a{
    text-decoration:none;
    color: #2732ce;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar ul li::after{
content:'';
height: 3px;
width: 0%; /*0% hides the line*/
background:#589abc;
position: absolute;
left:0;
bottom:-10px; /*creates a space between the menu and the line*/
transition: 0.5s; /*creates a split delay before each line appears*/
}

.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}